@model Package

@*<div class="card bg-light">
    <div class="card-header">
        <a href="@Model.NugetUrl">@Model.Name</a>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <partial name="_Install" model="Model" />
    </div>
    <div class="card-footer">
        @if (Model.GitRepo != null)
        {
            <a class="btn btn-github" href="@Model.GitUrl">
                <i class="fab fa-github"></i>
                @Model.GitRepo
            </a>
        }
        @if (Model.HasDocumentation)
        {
            <a class="btn btn-success" href="~/@Model.Name">
                <i class="far fa-file"></i>

            </a>
        }
    </div>
</div>*@

<div class="col-12 col-lg-4 py-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-3">
                <span class="card-title-text">@Model.Name</span>
            </h5>
            <div class="card-text">
                @Model.Description
                <partial name="_Install" model="Model" />
            </div>
            @if (Model.GitRepo != null)
            {
                <a class="btn btn-github" href="@Model.GitUrl">
                    <i class="fab fa-github"></i>
                </a>
            }
            @if (Model.HasDocumentation)
            {
                <a class="btn btn-github" href="~/@Model.Name">
                    <i class="fas fa-book"></i>
                </a>
            }
            @*<a class="card-link-mask" href="~/@Model.Name"></a>*@
        </div><!--//card-body-->
    </div><!--//card-->
</div><!--//col-->