@model Package

<div class="card bg-light">
    <div class="card-header">
        <a href="@Model.NugetUrl">@Model.Name</a>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <partial name="_Install" model="Model" />
    </div>
    <div class="card-footer">
        @if (Model.GitRepo != null)
        {
            <a class="btn btn-github" href="@Model.GitUrl">
                <i class="fab fa-github"></i>
                @Model.GitRepo
            </a>
        }
        @if (Model.HasDocumentation)
        {
            <a class="btn btn-success" href="~/@Model.Name">
                <i class="far fa-file"></i>
                
            </a>
        }
    </div>
</div>