@model Package

<div class="card bg-light">
    <div class="card-header">
        <a href="@Model.NugetUrl">@Model.Name</a>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <a class="card-link" data-toggle="collapse" href="#cli-@Model.Id">
            Command line...
        </a>
        <div id="cli-@Model.Id" class="collapse">
            
            <pre><b>.NET CLI:</b><code>dotnet new package @Model.Name</code></pre>
            <pre><b>Package manager:</b><code>Install-Package @Model.Name</code></pre>
            <pre><b>Git:</b><code>@Model.GitClone</code></pre>
        </div>
    </div>
    <div class="card-footer">
        @if (Model.GitRepo != null)
        {
            <a class="btn btn-github" href="@Model.GitUrl">
                <i class="fab fa-github"></i>
                @Model.GitRepo
            </a>
        }
        @if (Model.HasDocumentation)
        {
            <a class="btn btn-success" href="~/@Model.Name">
                <i class="far fa-file"></i>
                Docs
            </a>
        }
    </div>
</div>