
@if (Meta is not null)
{
    @foreach (var item in Meta.MenuItems)
    {
        <li class="nav-item section-title">
            <NavLink class="nav-link scrollto" href="@BuildLink(item.Id)">
                <span class="theme-icon-holder mr-2"><i class="fas @item.Icon"></i></span>@item.Text
            </NavLink>
        </li>

        @foreach (var subItem in item.SubMenuItems)
        {
            <li class="nav-item">
                <NavLink class="nav-link scrollto" href="@BuildLink(subItem.Id)">@subItem.Text</NavLink>
            </li>
        }
    }
}